/* formts----------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* common styles------- */
body{
    font-family: 'Poppins', sans-serif;
background-color: whitesmoke;
}



/*------------------- 1st bannar:--- nav-title- images ------- */
.main-bannar{
background-color: blue;
margin-bottom: 20px;
}

nav ul{
    display: flex;
 
}

/* list  ---------- */
nav li{
    list-style: none;
    margin-right: 20px;
    padding-top: 15px;
}
/* hober  ------------*/
nav li:hover{
background-color: gray;

}
 nav li a {
text-decoration: none;
color: white;
font-size: 20px;
padding: 20px;

}

/*-----------------
                section-bannar
                            ------------------ */
.bannar{

    display: flex;
}
h1{
 font-size: 64px;
}
.half-width {

    width: 50%;
    padding-left: 50px;

}

.half-width h1 {
    width: 485px;
    height: 230px;

}

.link-button{
text-decoration: none;
color:white;
background-color: rgb(175, 31, 5);
padding: 13px;
border-radius: 12px;

}
.link-button:hover{
    background-color: black;
}

.half-width img {
    width: 556.01px;
    height: 438px;
    
}

/* players -------------------------- */
.players{
    width: 1050px;
     height: 474px;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 27px;
    

}
.player:hover{
    background-color: burlywood;

}
.player{
    width: 300px;
    height: 474px;
    padding: 5px;
    box-shadow: 10px 10px 20px black;
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.player-photo img{
    width: 300px;
    height: 256px; 

}

.player-info{
    size: 16px;
    width: 300px;
    height: 154px;
}












